@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* MENU */
.header-container {
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header-container header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.header-container header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}

.header-container header ul {
    display: flex;
    list-style: none;
}

.header-container header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.header-container header nav ul li a:hover {
    color: #1CB698;
}

.nav-responsive {
    background-color: #1CB698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECTION START */
.home {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
    url(img/background.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.home .banner-content {
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.home .banner-content img {
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.home .banner-content h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.home .banner-content h2 {
    font-size: 15px;
    font-weight: normal;
}

.home .banner-content .social a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.home .banner-content .social a:hover {
    background-color: #1CB698;
}

.about {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.about .section-content {
    max-width: 1100px;
    margin: auto;
}

.about h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.about .section-content p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.about .section-content p span {
    color: #1CB698;
    font-weight: bold;
}

.about .row {
    display: flex;
}

.about .row .col {
    width: 50%;
}

.about .row .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.about .row .col ul {
    list-style: none;
}

.about .row .col ul li {
    margin: 12px 0;
}

.about .row .col ul li strong {
    display: inline-block;
    color: #1CB698;
    width: 130px;
}

.about .row .col ul li span {
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.about .row .col .interest-container {
    display: flex;
    flex-wrap: wrap;
}

.about .row .col .interest-container .interest {
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.about .row .col .interest-container .interest:hover {
    background-color: #1CB698;
}

.about .row .col .interest-container .interest i {
    font-size: 30px;
    margin-bottom: 10px;
}

.about button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.about button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.about button:hover .overlay {
    width: 100%;
}

/* SKILLS SECTION */
.skills {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.skills .section-content {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.skills .row {
    display: flex;
}

.skills .row .col {
    width: 50%;
    padding: 0 20px;
}

.skills .row .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill > span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .skill-bar {
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progress {
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .skill-bar span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

.skills .skill .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.skills .skill .htmlcss {
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0% {
        width: 0%;
    }

    100% {
        width: 89%;
    }
}

.skills .skill .photoshop {
    width: 0%;
    animation: 2s photoshop forwards;
}

@keyframes photoshop {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

.skills .skill .wordpress {
    width: 0%;
    animation: 2s wordpress forwards;
}

@keyframes wordpress {
    0% {
        width: 0%;
    }

    100% {
        width: 81%;
    }
}

.skills .skill .drupal {
    width: 0%;
    animation: 2s drupal forwards;
}

@keyframes drupal {
    0% {
        width: 0%;
    }

    100% {
        width: 55%;
    }
}

.skills .skill .communication {
    width: 0%;
    animation: 2s communication forwards;
}

@keyframes communication {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skills .skill .work {
    width: 0%;
    animation: 2s work forwards;
}

@keyframes work {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.skills .skill .creativity {
    width: 0%;
    animation: 2s creativity forwards;
}

@keyframes creativity {
    0% {
        width: 0%;
    }

    100% {
        width: 99%;
    }
}

.skills .skill .dedication {
    width: 0%;
    animation: 2s dedication forwards;
}

@keyframes dedication {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

.skills .skill .project {
    width: 0%;
    animation: 2s project forwards;
}

@keyframes project {
    0% {
        width: 0%;
    }

    100% {
        width: 94%;
    }
}

/* CURRICULUM SECTION */
.curriculum {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .section-content {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.curriculum .row {
    display: flex;
    justify-content: space-between;
}

.curriculum .row .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .row .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.curriculum .row .left {
    border-right: 2px solid #252A2E;
}

.curriculum .row .right {
    border-left: 2px solid #252A2E;
}

.curriculum .row .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}

.curriculum .row .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .row .item .place {
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .row .item .date {
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}

.curriculum .row .item p {
    line-height: 24px;
}

.curriculum .row .left {
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}

.curriculum .row .right {
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}

.curriculum .row .item .connector-left {
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .row .item .connector-left .circle-left {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .row .item .connector-right {
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .row .item .connector-right .circle-right {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}

/* PORTFOLIO SECTION */
.portfolio {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.portfolio .section-content {
    max-width: 1100px;
    margin: auto;
}
.portfolio h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .gallery .project {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .gallery .project img {
    width: 100%;
    display: block;
}
.portfolio .gallery .project .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28, 182, 152, .8), rgba(28, 182, 152, .8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .gallery .project .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .gallery .project .overlay:hover {
    opacity: 1;
}
.portfolio .gallery .project .overlay:hover h3 {
    margin-bottom: 0px;
}

/* CONTACT SECTION */
.contact {
    background-image: url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contact .section-content {
    max-width: 1100px;
    margin: auto;
}
.contact h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contact .row {
    display: flex;
}
.contact .col {
    width: 50%;
    padding: 10px;
    position: relative;
}
.contact .col input,
.contact .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contact button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contact button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.contact button:hover .overlay {
    width: 100%;
}
.contact .col img {
    width: 100%;
}
.contact .col .info {
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact .col .info ul {
    list-style: none;
}
.contact .col .info ul li {
    margin-bottom: 20px;
}
.contact .col .info ul li i {
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}

/* FOOTER SECTION */
footer {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .social-media {
    margin-bottom: 20px;
}
footer .social-media a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .up-arrow {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/* RESPONSIVE SECTION */
@media screen and (max-width: 980px) {
    nav {
        display: none;
    }
    .nav-responsive {
        display: block;
    }
    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul {
        display: block !important;
    }
    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width: 700px) {
    .about-me .row {
        display: block;
    }
    .about-me .row .col {
        width: fit-content;
    }

    .skills .row {
        display: block;
    }
    .skills .row .col {
        width: 100%;
    }
    .skills .row .col .skill-bar {
        width: 100%;
    }

    .resume .row {
        display: block;
    }
    .resume .row .col {
        width: 90%;
    }
    .resume .row .right {
        margin-left: 20px;
    }

    .portfolio .gallery {
        display: block;
        width: 100%;
    }
    .portfolio .gallery .project {
        max-width: 100%;
    }
    .portfolio .gallery .project img {
        width: 100%;
    }
    .contact .row {
        display: block;
    }
    .contact .row .col {
        width: 100%;
    }
}

